.container{
    border: 5px solid grey;
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}
div[class *= "x"]{
    border: 5px dotted grey;
    width: 150px;
    height: 150px;
    color: azure;
    font-size: 36px;
    text-align: center;
    line-height: 150px;
    margin: 5px;
}